<div class="d-flex justify-content-between align-items-center">
    <h2>Atualização de dados</h2>
    <h4><a href="/"><i class="bi bi-arrow-left-square"></i> </a></h4>
</div>
<form action="/users/profile/update" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nome Usuário</label>
        <input
            value = "{{user.name}}"
            type="text"
            id="name"
            name="name"
            class="form-control"
            required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
            type="email"
            value = "{{user.email}}"
            id="email"
            name="email"
            class="form-control"
            required>
    </div>
    <div class="mb-3">
        <label for="majorId">Select Major:</label>
        <select id="majorId" name="majorId" class="form-select" required>
            {{#each majors}}
                <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}} ({{this.code}})</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Atualizar dados</button>
</form>